{% extends "layout.html" %}
{% block content %}

<div class="row p-1 pt-3 pl-3 home-heading">
	<h4><b>Home</b></h4>
</div>

<div class="row p-1 pt-3 pl-3 mt-2 mb-1" id="homeTweetSection">
	<div class="media col-12">
		<img class="mr-2 img-fluid" src="{{ url_for('static', filename='images/logo.png') }}" width="50" height="50"
			alt="User proflie pic">
		<div class="media-body t-0 pb-3 align-self-center">
			<form method="POST" action="">
			{{ form.hidden_tag() }}
			<div class="row ml-2">
				{{ form.content(class="form-control form-control-lg",placeholder="What's happening?",type="text") }}
			</div>
			<div class="row ml-2">
				<span class="text-primary">Everyone can reply</span>
			</div>
			<div class="row ml-2 mt-2 mr-0 align-items-center">
				<i class="col-1 pl-0 ml-0 fas fa-lg fa-image text-primary"> </i>
				<i class="col-1 pl-1 fas fa-lg fa-image text-primary"> </i>
				<i class="col-1 pl-2 fas fa-lg fa-image text-primary"> </i>
				<i class="col-1 pl-2 ml-1 fas fa-lg fa-image text-primary"> </i>
				<i class="col-1 pl-2 ml-1 fas fa-lg fa-image text-primary"> </i>
				<div class="form-group">
					{{ form.submit(class="ml-4 btn btn-primary") }}
				</div>
			</div>
			</form>
		</div>
	</div>
</div>

<div class="row" id="followingTweets">
	<div class="card mt-4 p-0 col-12">
		<ul class="list-group list-group-flush">
			{% for i in posts.items %}
			<li class="list-group-item">
				<div class="media">
					<img class="mr-2 img-fluid"
						src="{{ url_for('static', filename='profile_pics/'+i.author.image_file) }}" width="50"
						height="50" alt="User profile picture">
					<div class="media-body">
						<p class="mt-0 mr-1 text-muted col-12">
							<a href="{{ url_for('user_tweets',username=i.author.username) }}"
								class="card-title text-data-title">{{ i.author.username }}</a>
							<small class="ml-auto">{{ i.date_posted.strftime('%Y-%m-%d') }}</small>
						</p>
						<p class="card-text text-data col-12">
							<a href="{{ url_for('tweet',post_id=i.id) }}">{{ i.content }}
							</a>
						</p>
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row mt-4 p-2">
	<div class="ml-auto col-*">
		{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
		{% if posts.page == page_num %}
		<a class="btn btn-info mb-4" href="{{ url_for('home',page=page_num) }}">{{ page_num }}</a>
		{% else %}
		<a class="btn btn-outline-info mb-4" href="{{ url_for('home',page=page_num) }}">{{ page_num }}</a>
		{% endif %}
		{% else %}
		...
		{% endif %}
		{% endfor %}
	</div>
</div>

{% endblock content %}
