{% extends "layout.html" %}
{% block content %}
	{% for i in posts %}
		<style type="text/css">
			.article-metadata {
			  padding-bottom: 1px;
			  margin-bottom: 4px;
			  border-bottom: 1px solid #e3e3e3
			}

			.article-metadata a:hover {
			  color: #333;
			  text-decoration: none;
			}
			.article-content {
			  white-space: pre-line;
			}
			.move-up{
				margin-top: 10px
			}
		    hr {
			  margin-top: 2px;
			  margin-bottom: -5px;
			  border: 2;
			  border-top: 2px solid rgba(0, 0, 0, 0.1);
			}
			.img-size{
				width: 4vw;
		    	height: 4vw;
		    	object-fit: cover;
			}
			.text-data-title{
				margin-left: 10px;
			}
			.text-data{
				margin-left: 70px;
				margin-top: -15px;
			}
		</style>

		<div class="card move-up">
			<div class="card-body">
				<img class="rounded-circle img-size account-img" src="{{ url_for('static', filename='profile_pics/'+i.author.image_file) }}">
				<a href="#" class="card-title text-data-title">{{ i.author.username }}</a>
				<small class="card-title">{{ i.date_posted.strftime('%Y-%m-%d') }}</small>
				<p class="card-text text-data"><a href="{{ url_for('tweet',post_id=i.id) }}">{{ i.content }}</a></p>
			</div>
		</div>
			
			
	{% endfor %}
	
{% endblock content %}