<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Metas -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- Icon -->
		<link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

		{% if title %}
		<title>{{ title }} / Twitter</title>
		{% else %}
		<title>Twitter</title>
		{% endif %}
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-3 sidebar">
					<ul class="col nav flex-column">
						<li class="nav-item mb-2 pl-sm-0 p-lg-1">
							<a class="nav-link fab fa-lg fa-twitter text-primary" href='#'></a>
						</li>
						<li class="nav-item mb-2 pl-sm-0 p-lg-1">
							<a class="nav-link" href="{{ url_for('home') }}">
								<span>
									<i class="fa-lg fas fa-home"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b class="">&nbsp;Home</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1">
							<a class="nav-link" href="{{ url_for('explore') }}">
								<span>
									<i class="fa-lg fas fa-hashtag"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b class="">&nbsp;Explore</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1">
							<a class="nav-link" href="{{ url_for('notifications') }}">
								<span>
									<i class="fa-lg fas fa-bell"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b class="">&nbsp;Notifications</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1">
							<a class="nav-link" href="{{ url_for('messages') }}">
								<span>
									<i class="fa-lg fas fa-envelope"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b class="">&nbsp;Messages</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1">
							<a class="nav-link" href="{{ url_for('bookmarks') }}">
								<span>
									<i class="fas fa-bookmark fa-lg"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b class="">&nbsp;Bookmarks</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1">
							<a class="nav-link" href="{{ url_for('lists') }}">
								<span>
									<i class="fa-lg fas fa-list"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b class="">&nbsp;Lists</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1">
							<a class="nav-link" href="{{ url_for('profile') }}">
								<span>
									<i class="fa-lg fas fa-user"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b class="">&nbsp;Profile</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1">
							<a class="nav-link" href="#">
								<span>
									<i class="fa-lg fas fa-ellipsis-h"></i>
								</span>
								<span class="d-none d-lg-inline">
									<b>&nbsp;More</b>
								</span>
							</a>
						</li>
						<li class="nav-item mb-2 p-lg-1" id="tweetButton">
							<a class="btn btn-primary" role="button" href="{{ url_for('new_tweet') }}">Tweet</a>
						</li>
						<li class="nav-item mt-5 p-lg-1">
							<div class="media row">
								<img class="col-12 col-lg-3 pr-0 mr-0 img-fluid"
									src="{{ url_for('static',filename='profile_pics/'+current_user.image_file) }}" alt="User image">
								<div class="media-body ml-0 col pl-0 d-none d-lg-block">
									<div class="row ml-0">
										<div class="ml-0 col-8">
											<b>{{ current_user.username }}</b>
											{{ current_user.email }}
										</div>
										<div class="offset-1 pr-0 mr-0 col">
											<i class="fas fa-lg fa-arrow-circle-down"></i>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-5 text-left move-up">
					{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
					{% endfor %}
					{% endif %}
					{% endwith %}
					{% block content %}{% endblock %}
				</div>
				<div class="col-4 sidebar">
					<div class="input-group mt-0 mb-5">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<i class="fas fa-search"></i>
							</span>
						</div>
						<input type="text" class="form-control" />
					</div>
					<div class="card mt-5 p-0">
						<div class="card-header">
							<b>What's happening</b>
						</div>
						<ul class="list-group list-group-flush p-0">
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<p class="mt-0 text-muted">Media heading</p>
										This is the right sidebar
									</div>
									<img class="ml-1 img-fluid"
										src="{{ url_for('static', filename='images/logo.png') }}" width="100"
										height="100" alt="Generic placeholder image">
								</div>
							</li>
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<p class="mt-0 text-muted">Media heading</p>
										This is the right sidebar
									</div>
									<img class="ml-1 img-fluid"
										src="{{ url_for('static', filename='images/logo.png') }}" width="100"
										height="100" alt="Generic placeholder image">
								</div>
							</li>
							<li class="list-group-item">
								<div class="media">
									<div class="media-body">
										<p class="mt-0 text-muted">Media heading</p>
										This is the right sidebar
									</div>
									<img class="ml-1 img-fluid"
										src="{{ url_for('static', filename='images/logo.png') }}" width="100"
										height="100" alt="Generic placeholder image">
								</div>
							</li>
						</ul>
					</div>
					<div class="card mt-5 p-0">
						<div class="card-header">
							<b>Who to follow</b>
						</div>
						<ul class="list-group list-group-flush p-0">
							<li class="list-group-item">
								<div class="media">
									<img class="mr-1 img-fluid"
										src="{{ url_for('static', filename='images/logo.png') }}" width="100"
										height="100" alt="Generic placeholder image">
									<div class="media-body">
										<p class="mt-0 text-muted">Media heading</p>
										This is the right sidebar
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="media">
									<img class="mr-1 img-fluid"
										src="{{ url_for('static', filename='images/logo.png') }}" width="100"
										height="100" alt="Generic placeholder image">
									<div class="media-body">
										<p class="mt-0 text-muted">Media heading</p>
										This is the right sidebar
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<div class="media">
									<img class="mr-1 img-fluid"
										src="{{ url_for('static', filename='images/logo.png') }}" width="100"
										height="100" alt="Generic placeholder image">
									<div class="media-body">
										<p class="mt-0 text-muted">Media heading</p>
										This is the right sidebar
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Font awesome CSS-->
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>

		<!-- Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>

	</body>

</html>
